.spinner-center {
    color: #62cb31;
    text-align: center;
}

.contact-panel img{
    height: auto;
    width: auto;
    max-width: 250px;
}

.success-message {
    margin-left: 5px;
    color: #74d348;
}

.error-message {
    margin-left: 5px;
    color: #ff0000;
}