.spinner-center {
    color: #62cb31;
    text-align: center;
}

.contact-panel img{
    height: auto;
    width: auto;
    max-width: 250px;
}

.success-message {
    margin-left: 5px;
    color: #62cb31;
}

.error-message {
    margin-left: 5px;
    color: #e74c3c;
}

.info-message {
    margin-left: 5px;
    color: #e67e22;
}