<div class="color-line"></div>

<div class="back-link">
    <a ng-href="#/dashboard" class="btn btn-primary">{{ 'BUTTON_BACK_TO_DASHBOARD' | translate }}</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>{{ 'LOGIN_PLEASE_LOGIN_TO_APP' | translate }}</h3>
                <small>{{ 'LOGIN_WELCOME' | translate }}</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form ng-submit="loginFromForm(loginForm.$valid)" name="loginForm" novalidate>
                        <div class="form-group">
                            <label class="control-label" for="username">{{ 'USERNAME' | translate }}</label>
                            <input type="text" ng-model="userData.username" placeholder="example@gmail.com" required name="username" id="username" class="form-control">
                            <div class="m-t-xs" ng-show="loginForm.username.$invalid && !loginForm.username.$pristine">
                                <span class="text-danger" ng-show="loginForm.username.$error"><i class="fa fa-exclamation-triangle"></i> {{ 'VALIDATION_REQUIRED' | translate }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">{{ 'PASSWORD' | translate }}</label>
                            <input type="password" ng-model="userData.password" placeholder="******" required name="password" id="password" class="form-control">
                            <div class="m-t-xs" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
                                <span class="text-danger" ng-show="loginForm.password.$error"><i class="fa fa-exclamation-triangle"></i> {{ 'VALIDATION_REQUIRED' | translate }}</span>
                            </div>
                        </div>
                        <div class="checkbox">
                            <input icheck type="checkbox" ng-model="userData.remember" ng-init="remember = true">
                            {{ 'LOGIN_REMEMBER' | translate }}
                            <p class="help-block small">( {{ 'LOGIN_IF_PRIVATE_COMPUTER' | translate }} )</p>
                        </div>
                        <div class="form-group">
                            <div class="m-t-xs" ng-show="loginStatus != constants.spinnerStatus.start">
                                <div ng-show="loginStatus == constants.spinnerStatus.saving" class="spinner-center">
                                    <img src="../images/loading-bars.svg" width="25"/> {{ 'STATUS_MESSAGE_WAIT' | translate }}
                                </div>
                                <span class="text-danger" ng-show="loginStatus == constants.spinnerStatus.error"><i class="fa fa-exclamation-triangle"></i> {{ loginMessage }}</span>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block" ng-disabled="loginForm.$invalid">{{ 'BUTTON_LOGIN' | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>{{ 'APP_NAME' | translate }}</strong> - {{ 'APP_MOTO' | translate }} <br /> {{ 'COPYRIGHT' | translate }}
        </div>
    </div>
</div>
