<div small-header class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <a ng-click="small()" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li ng-repeat="bc in breadcrumb.links"><a ng-href="{{ bc.href }}">{{ bc.name }}</a></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                {{ breadcrumb.subject }}
            </h2>
            <small>{{ breadcrumb.message }}</small>
        </div>
    </div>
</div>