<div id="navigation">
    <div class="profile-picture">
        <a href="#/dashboard">
            <img ng-src="{{ userData.image }}" class="img-circle m-b" alt="logo">
        </a>
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">{{ userData.username }}</span>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span></a>
        </li>
        <li>
            <a href="#"><span class="nav-label">Charts</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('charts')}">
                <li ui-sref-active="active"><a ui-sref="charts.chartjs">ChartJs</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.flot">Flot charts</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.inline">Inline graphs</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.chartist">Chartist</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span class="nav-label">Common views</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li ui-sref-active="active"><a ui-sref="common.login">Login</a></li>
                <li ui-sref-active="active"><a ui-sref="common.register">Register</a></li>
                <li ui-sref-active="active"><a ui-sref="common.error_one">Error 404</a></li>
                <li ui-sref-active="active"><a ui-sref="common.error_two">Error 505</a></li>
                <li ui-sref-active="active"><a ui-sref="common.lock">Lock screen</a></li>
            </ul>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="landing"> <span class="nav-label">Landing page</span> <span class="label label-warning pull-right">NEW</span> </a>
        </li>
    </ul>
</div>