<div id="navigation">
    <div class="profile-picture">
        <a href="#/dashboard">
            <img src="/images/logo-demo.png" class="img-circle m-b" alt="logo">
        </a>
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Osman</span>

            <div class="dropdown" dropdown>
                <a dropdown-toggle class="dropdown-toggle" href="#">
                    <small class="text-muted">Founder of App <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a ui-sref="app_views.profile">Profile</a></li>
                    <li class="divider"></li>
                    <li><a ui-sref="common.login">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span></a>
        </li>
        <li>
            <a href="#"><span class="nav-label">Charts</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('charts')}">
                <li ui-sref-active="active"><a ui-sref="charts.chartjs">ChartJs</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.flot">Flot charts</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.inline">Inline graphs</a></li>
                <li ui-sref-active="active"><a ui-sref="charts.chartist">Chartist</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span class="nav-label">Common views</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li ui-sref-active="active"><a ui-sref="common.login">Login</a></li>
                <li ui-sref-active="active"><a ui-sref="common.register">Register</a></li>
                <li ui-sref-active="active"><a ui-sref="common.error_one">Error 404</a></li>
                <li ui-sref-active="active"><a ui-sref="common.error_two">Error 505</a></li>
                <li ui-sref-active="active"><a ui-sref="common.lock">Lock screen</a></li>
            </ul>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="landing"> <span class="nav-label">Landing page</span> <span class="label label-warning pull-right">NEW</span> </a>
        </li>
    </ul>
</div>