<div id="header" ng-include="'views/common/header.html'"></div>
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<div id="wrapper">
    <div id="breadcrumb" ng-include="'views/common/breadcrumb.html'"></div>

    <div class="content" animate-panel effect="zoomIn">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="btn-group">
                            <button class="btn btn-default"><i class="fa fa-plus"></i> Add new company</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="content" animate-panel effect="zoomIn">
        <div class="row">
            <div ng-repeat="company in companies">
                <div class="col-lg-6">
                    <div class="hpanel hgreen contact-panel">
                        <div class="panel-body">
                            <span class="label label-success pull-right">NEW</span>
                            <a href="{{ url.companies + company.id }}">
                                <img alt="logo" class="m-b" ng-src="{{ company.image_url }}">
                            </a>
                            <h3>
                                <a href="{{ url.companies + company.id }}">{{ company.name }}</a>
                            </h3>
                            <div class="text-muted font-bold m-b-xs">{{ company.address }}, {{ company.city }}</div>
                        </div>
                        <div class="panel-footer contact-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'STORES' | translate }}: </span> <strong>{{ company.stores.length }}</strong>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'GROUPS' | translate }}: </span> <strong>{{ company.groups.length }}</strong>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'USERS' | translate }}: </span> <strong>{{ company.users.length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
