<div id="header" ng-include="'views/common/header.html'"></div>
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<div id="wrapper">
    <div id="breadcrumb" ng-include="'views/common/breadcrumb.html'"></div>

    <div class="content" animate-panel effect="zoomIn">
        <div class="row" id="topMenu">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="btn-group">
                            <button ng-click="addCompanyFromForm()" class="btn btn-default"><i class="fa fa-plus"></i> {{ 'ADD_NEW_COMPANY' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="addCompanyForm" style="display: none">
            <div class="col-md-12">
                <form name="addCompanyForm" ng-submit="saveCompanyFromForm(addCompanyForm.$valid)" class="form-horizontal" novalidate>
                    <div class="hpanel hgreen">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a ng-click="closeAddCompanyFromForm()" class="closebox"><i class="fa fa-times"></i></a>
                            </div>
                            {{ 'ADD_NEW_COMPANY' | translate }}
                        </div>
                        <div class="panel-body">
                            <!--<div class="loading-over-normal"></div>
                            <img src="../images/loading-bars.svg" width="25" /> {{ 'STATUS_MESSAGE_WAIT' | translate }}-->
                            <div class="row" style="padding-top: 15px">
                                <div class="col-lg-6">
                                    <div class="form-group" ng-class="{ 'has-error' : addCompanyForm.email.$invalid && !addCompanyForm.email.$pristine }">
                                        <label class="col-sm-2 control-label">{{ 'EMAIL' | translate }}</label>
                                        <div class="col-sm-10">
                                            <input type="email" name="email" ng-model="company.email" ng-model-options="{ debounce: 500 }" class="form-control" required>
                                            <p ng-show="addCompanyForm.email.$invalid && !addCompanyForm.email.$pristine" class="help-block">
                                                {{ 'VALIDATION_EMAIL_FORMAT' | translate }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group" ng-class="{ 'has-error' : addCompanyForm.companyName.$invalid && !addCompanyForm.companyName.$pristine }">
                                        <label class="col-sm-2 control-label">{{ 'NAME' | translate }}<span class="error">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="companyName" ng-model="company.name" ng-model-options="{ debounce: 1000 }" my-validator-company-name class="form-control" required>
                                            <p ng-show="addCompanyForm.companyName.$invalid && !addCompanyForm.companyName.$pristine && addCompanyForm.companyName.$error.required" class="help-block error-message">
                                                {{ 'VALIDATION_REQUIRED' | translate }}
                                            </p>
                                            <p ng-show="addCompanyForm.companyName.$pending" class="help-block success-message">
                                                <img src="../images/loading-bars.svg" width="25" /> {{ 'VALIDATION_CHECKING' | translate }}
                                            </p>
                                            <p ng-show="addCompanyForm.companyName.$error.companyName" class="help-block error-message">
                                                {{ 'VALIDATION_ALREADY_EXIST' | translate }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group" ng-class="{ 'has-error' : addCompanyForm.city.$invalid && !addCompanyForm.city.$pristine }">
                                        <label class="col-sm-2 control-label">{{ 'CITY' | translate }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="city" ng-model="company.city" class="form-control" required>
                                            <p ng-show="addCompanyForm.city.$invalid && !addCompanyForm.city.$pristine" class="help-block">
                                                {{ 'VALIDATION_REQUIRED' | translate }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group" ng-class="{ 'has-error' : addCompanyForm.country.$invalid && !addCompanyForm.country.$pristine }">
                                        <label class="col-sm-2 control-label">{{ 'COUNTRY' | translate }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="country" ng-model="company.country" class="form-control" required>
                                            <p ng-show="addCompanyForm.country.$invalid && !addCompanyForm.country.$pristine" class="help-block">
                                                {{ 'VALIDATION_REQUIRED' | translate }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{ 'ADDRESS' | translate }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="company.address" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ 'LOGO_IMAGE' | translate }}</label>
                                        <div class="col-sm-9">
                                            <input type="file"
                                                   class="form-control"
                                                   my-image-to-object
                                                   data-current-object="company"
                                                   data-show-image-in="companyLogoImagePreview">
                                            <img src="" id="companyLogoImagePreview" class="img-thumbnail" style="margin-top: 20px" />
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button ng-click="closeAddCompanyFromForm()" class="btn btn-default">{{ 'CANCEL' | translate }}</button>

                            <button ng-disabled="addCompanyForm.$invalid" class="btn btn-success" type="submit">{{ 'SAVE' | translate }}</button>

                            <span ng-show="addCompanyForm.$invalid" class="info-message">
                                <i class="fa fa-info-circle"></i> {{ 'STATUS_MESSAGE_INFO_ALL_FIELDS' | translate }}
                            </span>

                            <span ng-show="savingCompanyStatus == spinnerStatus.saving">
                                <img src="../images/loading-bars.svg" width="25" /> {{ 'STATUS_MESSAGE_WAIT' | translate }}
                            </span>
                            <span ng-show="savingCompanyStatus == spinnerStatus.success" class="success-message">
                                <i class="fa fa-check"></i> {{ 'STATUS_MESSAGE_SAVING_SUCCESS' | translate }}
                            </span>
                            <span ng-show="savingCompanyStatus == spinnerStatus.error" class="error-message">
                                 <i class="fa fa-times"></i> {{ 'STATUS_MESSAGE_SAVING_ERROR' | translate }}
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="content" animate-panel effect="zoomIn">
        <div class="row">
            <div ng-repeat="company in companies">
                <div class="col-md-6 col-lg-4">
                    <div class="hpanel hgreen contact-panel">
                        <div class="panel-body">
                            <!--<span class="label label-success pull-right">NEW</span>-->
                            <a href="{{ url.companies + company.id }}">
                                <img alt="logo" class="m-b" ng-src="{{ company.logoImageLink }}" style="max-width: 250px">
                            </a>
                            <h3>
                                <a href="{{ url.companies + company.id }}">{{ company.name }}</a>
                            </h3>
                            <div class="text-muted font-bold m-b-xs">{{ company.address }}, {{ company.city }}</div>
                        </div>
                        <div class="panel-footer contact-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'STORES' | translate }}: </span> <strong>{{ company.stores.length }}</strong>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'GROUPS' | translate }}: </span> <strong>{{ company.groups.length }}</strong>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'USERS' | translate }}: </span> <strong>{{ company.users.length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
