<div id="header" ng-include="'views/common/header.html'"></div>
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<div id="wrapper">
    <div id="breadcrumb" ng-include="'views/common/breadcrumb.html'"></div>
    <div class="content" animate-panel effect="zoomIn">
        <div class="row" id="topMenu">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="btn-group">
                            <button ng-click="addStoreFromForm()" class="btn btn-default"><i class="fa fa-plus"></i> {{ 'ADD_NEW_STORE' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="row" id="addStoreForm" style="display: none">
        <div class="col-md-12">
            <form class="form-horizontal" name="storeForm" novalidate>
                <div class="hpanel hgreen">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a ng-click="closeAddStoreFromForm()" class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        {{ 'ADD_NEW_COMPANY' | translate }}
                    </div>
                    <div class="panel-body">
                        <!--<div class="loading-over-normal"></div>
                        <img src="../images/loading-bars.svg" width="25" /> {{ 'STATUS_MESSAGE_WAIT' | translate }}-->
                        <div class="row" style="padding-top: 15px">
                            <div class="col-lg-6">
                                <div class="form-group" ng-class="{ 'has-error' : storeForm.email.$invalid && !storeForm.email.$pristine }">
                                    <label class="col-sm-2 control-label">{{ 'EMAIL' | translate }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="email" ng-model="store.email" class="form-control" required>
                                        <!--<p ng-show="storeForm.email.$invalid && !storeForm.email.$pristine" class="help-block">{{'ENTER_VALID_EMAIL' | translate}}</p>-->
                                        <p ng-show="storeForm.email.$invalid && !storeForm.email.$pristine" class="help-block">{{'EMAIL_REQUIRED' | translate}}.</p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{ 'has-error' : storeForm.name.$invalid && !storeForm.name.$pristine }" >
                                    <label class="col-sm-2 control-label">{{ 'NAME' | translate }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="store.name" class="form-control" name="name" required>
                                        <p ng-show="storeForm.name.$invalid && !storeForm.name.$pristine" class="help-block">{{'NAME_REQUIRED' | translate}}.</p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{ 'has-error' : storeForm.city.$invalid && !storeForm.city.$pristine }">
                                    <label class="col-sm-2 control-label">{{ 'CITY' | translate }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="store.city" class="form-control" name="city" required>
                                        <p ng-show="storeForm.city.$invalid && !storeForm.city.$pristine" class="help-block">{{'CITY_REQUIRED' | translate}}.</p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{ 'has-error' : storeForm.country.$invalid && !storeForm.country.$pristine }">
                                    <label class="col-sm-2 control-label">{{ 'COUNTRY' | translate }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="store.country" name="country" class="form-control" required="">
                                        <p ng-show="storeForm.country.$invalid && !storeForm.country.$pristine" class="help-block">{{'COUNTRY_REQUIRED' | translate}}.</p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" ng-class="{ 'has-error' : storeForm.address.$invalid && !storeForm.address.$pristine }">
                                    <label class="col-sm-2 control-label">{{ 'ADDRESS' | translate }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="address" ng-model="store.address" class="form-control" required="">
                                        <p ng-show="storeForm.address.$invalid && !storeForm.address.$pristine" class="help-block">{{'ADDRESS_REQUIRED' | translate}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ 'LOGO_IMAGE' | translate }}</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control" my-image-to-object current-object="store">
                                        <img src="" id="my-image-to-object" class="img-thumbnail" style="margin-top: 20px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button ng-click="closeAddStoreFromForm(storeForm.$valid)" class="btn btn-default" type="submit">{{ 'CANCEL' | translate }}</button>
                        <button ng-click="saveStoreFromForm(store)" ng-disabled="storeForm.$invalid" class="btn btn-success" type="submit">{{ 'SAVE' | translate }}</button>
                            <span ng-show="savingStatus == constants.spinnerStatus.saving">
                                <img src="../images/loading-bars.svg" width="25" /> {{ 'STATUS_MESSAGE_WAIT' | translate }}
                            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="content" animate-panel effect="zoomIn">
        <div class="row">
            <div ng-repeat="store in company.stores">
                <div class="col-lg-6">
                    <div class="hpanel hgreen contact-panel">
                        <div class="panel-body">
                            <span class="label label-success pull-right">NEW</span>
                            <a href="{{ url.stores + store.id }}">
                                <img alt="logo" class="m-b" ng-src="{{ store.logoImageLink }}">
                            </a>
                            <h3>
                                <a href="{{url.companies + company.id  + url.stores + store.id}}">{{ store.name }}</a>
                            </h3>
                            <div class="text-muted font-bold m-b-xs">{{ store.address }}, {{ store.city }}</div>
                        </div>
                        <div class="panel-footer contact-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'WORKING_ORDERS' | translate }}: </span> <strong>{{ }}</strong>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'GROUPS' | translate }}: </span> <strong>{{ store.groups.length }}</strong>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="contact-stat">
                                        <span>{{ 'EMPLOYEE' | translate }}: </span> <strong>{{ store.users.length }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>